[user]
  name = Ben Rexin
  email = ben@rexin.at
  signingkey = B36B9129
[push]
  default = tracking
	autoSetupRemote = true
[pack]
  threads = 0
[color]
  ui=auto
[color "status"]
  untracked = cyan
  added = yellow
[color "branch"]
  remote = yellow
[alias]
  st = status
  up = pull --rebase
  ci = commit -S
  x = !open -a gitx .
  l = !git --no-pager log -n 20
  ll = log
  co = checkout
  g = grep --break --heading --line-number
  do = !git stash && git up && git push && git stash pop
  pr = !hub pull-request
  lol = !echo lol
  authors = !git log --format='%aN <%aE>' | sort -u
  signoff-rebase = "!EDITOR='sed -i -re s/^pick/e/' sh -c 'git rebase -i $1 && while test -f .git/rebase-merge/interactive; do git commit --amend --gpg-sign --no-edit && git rebase --continue; done' -"
	jedi = push --force-with-lease
  sith = !git commit --amend --no-edit && git push --force-with-lease
  cleanup = "!git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D"
[gui]
  wmstate = zoomed
  geometry = 1680x969+0+22 505 564
[core]
  excludesfile = /Users/ben/.gitignore
  editor = vim -f
  attributesfile = /Users/ben/.gitattributes
[merge]
  summary = true
  conflictStyle = diff3
  ff=only
[help]
	autocorrect = 1
[format]
  pretty=%C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[diff]
  tool = opendiff
[fetch]
	prune = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[branch]
	autosetuprebase = always
