[user]
  name = Ben Rexin
  email = ben@rexin.at
  signingkey = EC2C74CE
[push]
  default = tracking
[pack]
  threads = 0
[color]
  ui=auto
[color "status"]
  untracked = cyan
  added = yellow
[color "branch"]
  remote = yellow
[alias]
  st = status
  up = pull --rebase
  ci = commit -S
  x = !open -a gitx .
  l = !git --no-pager log -n 20
  ll = log
[gui]
  wmstate = zoomed
  geometry = 1680x969+0+22 505 564
[core]
  excludesfile = /Users/ben/.gitignore
  editor = vim -f
[merge]
  summary = true
[help]
	autocorrect = 1
[format]
  pretty=%C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
